bashrcBACKUP.txt
conda_list.txt
Exposé_signed.pdf
installation_and_links
laufendes Protokoll.odt
Masterthese_Zeitplan Jän22.pdf
min_3-node.py
pypsa_anlernen
pythontest.py
testnotebook.ipynb
together.nc

/erste Präsentation
/Netzdaten
/Netzmodell
/pypsa-eur
/Skripten_Schneider
/test_folder
/VO_energy_modeling
/Dokument/Workflow/Checkpoint
/Dokument/Workflow/.ipynb_checkpoints
/.ipynb_checkpoints
/token.txt
/Arbeit
/Beurteilung

/NEW_pypsa-eur/DurchlaufBuch.txt


/NEW_pypsa-eur/pypsa-eur/cutouts
/NEW_pypsa-eur/pypsa-eur/benchmarks
/NEW_pypsa-eur/pypsa-eur/data/bundle
/NEW_pypsa-eur/pypsa-eur/env
/NEW_pypsa-eur/pypsa-eur/env/lib
/NEW_pypsa-eur/pypsa-eur/logs
/NEW_pypsa-eur/pypsa-eur/networks
/NEW_pypsa-eur/pypsa-eur/resources
/NEW_pypsa-eur/pypsa-eur/test
/NEW_pypsa-eur/pypsa-eur/.reuse
/NEW_pypsa-eur/pypsa-eur/.snakemake*
/NEW_pypsa-eur/pypsa-eur/.ipynb_checkpoints
/NEW_pypsa-eur/pypsa-eur/__pycache__
/NEW_pypsa-eur/pypsa-eur/*dconf
/NEW_pypsa-eur/pypsa-eur/gurobi.log
/NEW_pypsa-eur/pypsa-eur/.vscode
/NEW_pypsa-eur/pypsa-eur/bak
/NEW_pypsa-eur/pypsa-eur/notebooks
/NEW_pypsa-eur/pypsa-eur/pypsa-git
/NEW_pypsa-eur/pypsa-eur/pypsa-github
/NEW_pypsa-eur/pypsa-eur/pypsa-gitattribute
/NEW_pypsa-eur/pypsa-eur/pypsa-gitignore


/NEW_pypsa-eur/pypsa-eur/doc/_build
/NEW_pypsa-eur/pypsa-eur/config.yaml

/NEW_pypsa-eur/pypsa-eur/summary/older_parts
/NEW_pypsa-eur/pypsa-eur/summary/Netzwerkanalyse/try_outs
/NEW_pypsa-eur/pypsa-eur/summary/Netzwerkanalyse/result_files
/NEW_pypsa-eur/pypsa-eur/summary/Netzwerkanalyse/result_files_alles2
/NEW_pypsa-eur/pypsa-eur/summary/Netzwerkanalyse/result_files_igw17_too_much_cap(ror)
/NEW_pypsa-eur/pypsa-eur/summary/Netzwerkanalyse/check.py
